{% extends "base.html" %}

{% block content %}
    <h1>Tags
      <a href="{% url 'planwood:tags-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    {% if tags_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for tag in tags_list %}
      <tr>
        <td>{{ tag.name }}</td>
        <td>
          <a href="{% url 'planwood:tags-update' pk=tag.id %}" class="link-underline-light">
            Update
          </a>

        </td>
        <td>
          <a href="{% url 'planwood:tags-delete' pk=tag.id %}" class="link-underline-light">
            Delete
          </a>
        </td>

      </tr>
    {% endfor %}

    </table>
    {% else %}
<!--        <td><a href="{% url 'wood:tags-delete' pk=tags.pk %}">Delete</a></td>-->
      <p>There are no tags.</p>
    {% endif %}
{% endblock %}
