{% extends "base.html" %}

{% block content %}
    <h1>TODO list
       <a href="{% url 'wood:task-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    {% if task_list %}
      {% for task in task_list %}
        <p style="font-weight: bold;">
          {{ task.content }}
          {% if task.status is True %}
            <span style="color: green;">Done</span>
            <a href="{% url 'wood:task-status' pk=task.id  new=0 %}" class="btn btn-secondary link-to-page">
              Undo
            </a>
          {% else %}
            <span style="color: red;">Note done</span>
            <a href="{% url 'wood:task-status' pk=task.id  new=1 %}" class="btn btn btn-success link-to-page">
              Complete
            </a>
          {% endif %}
        </p>
        <p>
          Created: {{ task.date_task_created }}
          {% if task.deadline %}
            <span style="color: red;">
              Deadline:
              {{ task.deadline }}
            </span>
          {% endif %}

        </p>
        <p>
          {% for tag in task.tags.all %}
              {{ tag.name }}
          {% endfor %}
          <a href="{% url 'wood:task-update' pk=task.id %}" class="link-underline-light">
            Update
          </a>
          <a href="{% url 'wood:task-delete' pk=task.id %}" class="link-underline-light">
            Delete
          </a>
        </p>

        <br>

    {% endfor %}

    {% else %}
      <p>There are no Task for TODO.</p>
    {% endif %}
{% endblock %}
